<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->


<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FANNY FACTS</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
      h1 {
      width:100%;
      text-align: center;
      font-family: Comic Sans MS;
      }
      p {
      top: 50%;
      text-align: center;
      font-family: Comic Sans MS;
      }
      body{
      background: #EBFFFF;
      }
    </style>
  </head>
  <body>
  <div class ="container">
    <h1>
      FANNY FACTS
    </h1>
    <div style="padding:30px"></div>
    <p>
      {{FACT}}
    </p>
    </div>
  </body>
</html>